.headerContainer {
  background-color: var(--primary-main) !important;
  padding: 0.5em 2em;
  box-shadow: 2px 2px 12px #57575790;
  font-size: 0.85em;
}

.header {
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.navItems {
  float: right;
}

.menu {
  cursor: pointer;
}

.menu ul {
  background-color: var(--primary-main);
}

.menu li {
  padding-top: 10px;
  color: white;
  text-transform: uppercase;
}

.menu h4 {
  margin-left: 10px;
}

.child {
  overflow: hidden;
}

.content {
  padding: 1.5em 1.3em;
}
