.container {
  width: 80vw;
  min-height: 80vh;
  height: fit-content;
  margin-left: 10vw;
  margin-top: 5vh;
  border-radius: 1em;
  background-color: var(--background-light);
  box-shadow: 2px 2px 12px #57575790;
}

.headerContainer {
  position: relative;
  width: calc(80vw + 1.2em);
  border-radius: 0.5em;
  right: 0.6em;
  background-color: var(--primary-main);
  padding: 0.5em 2em;
  box-shadow: 2px 2px 12px #57575790;
}

.header {
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.child {
    overflow: hidden;
}

.content {
  padding: 1em;
}
