/** ICONS **/
.allIcons {
  display: flex;
  flex-flow: row wrap;
  gap: 0.6em;
  justify-content: flex-start;
  align-items: center;
  /* centering the icons */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.icon,
.iconSelected {
  --size: 3.5rem;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms linear;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 5px hsla(0deg, 0%, 40%, 30%);
}

.icon {
  background: var(--tertiary-light);
}

.iconSelected {
  background: var(--tertiary-main);
}

.groupInfo {
  display: flex;
  flex-direction: column;
  gap: 1em;
}