.createGroup {
  color: var(--blue);
  padding: 1.5em 1.3em;
}

.header {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary-main);
}

/** ICONS **/
.allIcons {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* # of icons is 9 in figma */
  place-items: center;
  grid-gap: 0.4em;
  max-width: 900px;
  /* centering the icons */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.icon,
.iconSelected {
  --size: 3.5rem;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms linear;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 5px hsla(0deg, 0%, 40%, 30%);
}

.icon {
  background: var(--tertiary-light);
}

.iconSelected {
  background: var(--tertiary-main);
}

.groupInfo {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
/** INPUT FIELDS **/

.inputFields {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .inputFields {
    flex-direction: row;
    gap: 1.2em;
  }
}
.input {
  width: 100%;
}

.submit {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.submitButton {
  padding: 1em 1.3em;
}
