:root {
  --primary-main: #4b4a67;
  --secondary-main: #219ebc;
  --secondary-light: #8ecae6;
  --tertiary-main: #fb8500;
  --tertiary-light: #ffb703;
  --background-main: #2d5abc;
  --background-light: #d6ecf6;
  --background-dark: #2753b8;
  --availability-darkest: #228b22;
  --availability-dark: #228b22;
  --availability-main: #54d93b;
  --availability-light: #77dd77;
  --availability-lightest: #aef5ae;
}

body {
  background-color: var(--background-main);
  background-image: url('../assets/app_background.png');
  background-repeat: repeat;
  overflow-x: hidden;
}

@media only screen and (max-width: 900px) {
  h2 {
    font-size: x-small;
  }
  h3 {
    font-size: x-small;
  }
  body {
    font-size: small;
  }
}