:root {
  --primary-main: #4b4a67;
  --secondary-main: #219ebc;
  --secondary-light: #8ecae6;
  --tertiary-main: #fb8500;
  --tertiary-light: #ffb703;
  --background-main: #2d5abc;
  --background-light: #d6ecf6;
  --background-dark: #2753b8;
  --availability-darkest: #228b22;
  --availability-dark: #228b22;
  --availability-main: #54d93b;
  --availability-light: #77dd77;
  --availability-lightest: #aef5ae;
}

body {
  background-color: var(--background-main);
  background-image: url('../assets/app_background.png');
  background-repeat: repeat;
  overflow-x: hidden;
}

th .fc-day-today {
  border-radius: 1rem;
  background-color: var(--primary-main);
  color: white;
}

.fc table, td, th {
  border-color: #b4b4cf !important;
}

/* .fc-toolbar-title {
  border-radius: 10px;
  color: white;
  background-color: var(--primary-main);
  padding: 0 1em;
} */

@media only screen and (max-width: 900px) {
  .fc-toolbar {
    font-size: 92%;
  }
  table .fc-col-header {
    background-color: var(--background-light);
  }
}